:root {
    --primaryColor: #EC5863;
    --secondaryColor: #4285F4;
    --textColor_1: #222;
    --textColor_2: #777;

    --Rubik: 'Rubik', sans-serif;
    --Raleway: 'Raleway', sans-serif;
}
.main {
    position: relative;
    z-index: 2;
    background: #FAFBFD;
    width: 100%;
    /* height: 100vh; */
}
.main::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 495px;
    height: 100%;
    border-radius: 30px 0 0 30px;
    background: var(--primaryColor);
    right: 0;
    top: 0;
}
/* ================Nav Section Style=============== */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .container img {
    width: 160px;
}
nav .container ul {
    display: flex;
}
nav .container ul li {
    list-style: none;
    margin-left: 30px;
}
nav .container ul li a {
    font-size: 14px;
    font-family: var(--Raleway);
    font-weight: bold;
    color: var(--textColor_1);
    transition: 0.3s;
}
nav .container ul li a:hover {
    color: var(--secondaryColor);
}
/* ================Nav Section Style=============== */


/* ================Hero Section Style=============== */
.main .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .hero img {
    width: 650px;
}
.main .hero .hero-left p {
    margin: 20px 0 30px 0;
}
.main .float-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 100px;
    padding-bottom: 40px;
}
.main .float-btn img {
    width: 50px;
}
.main .float-btn h5 {
    font-family: var(--Rubik);
    margin-left: 10px;
    color: var(--textColor_2);
    font-weight: 500;
}
.main .float-btn h5 span {
    color: var(--textColor_1);
    font-weight: 600;
}
/* ================Hero Section Style=============== */


/* ================Features Section Style=============== */
.features .container {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.features .container img {
    width: 400px;
}
.features .container .features-right p {
    margin: 20px 0 30px 0;
}
/* ================Features Section Style=============== */


/* ================Support Section Style=============== */
.support-container {
    background: #FAFBFD;
    margin-top: 60px;
}
.support-container .feature-container {
    padding-top: 120px;
}
.support-container .feature-container .container {
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-container .feature-container .container img {
    position: absolute;
    width: 900px;
    height: 100%;
    z-index: 2;
}
.support-container .feature-container .container .feature {
    position: relative;
    z-index: 3;
    width: 760px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 20px;
}
.support-container .feature-container .container .feature .user {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.support-container .feature-container .container .feature .user h2 {
    text-align: center;
    font-family: var(--Rubik);
    font-size: 40px;
    color: var(--primaryColor);
    line-height: 25px;
}
.support-container .feature-container .container .feature .user h2 span {
    font-size: 14px;
    color: var(--textColor_1);
    font-family: var(--Rubik);
}
.support-container .support .container {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
.support-container .support .container img {
    width: 700px;
}
.support-container .support .container .support-left p {
    margin: 20px 0;
}
/* ================Sopport Section Style=============== */


/* ================Contact Section Style=============== */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.contact p {
    margin-top: 20px;
    text-align: center;
}
.contact .container-title {
    flex-direction: column;
}
.contact .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .container img {
    margin-top: 120px;
    width: 100%;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
}
.contact .container .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    margin-top: 140px;
}
.contact .container .box .bx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 7px 25px rgba(0,0,0,0.05);
    transition: 0.4s ease-in;
    cursor: pointer;
}
.contact .container .box .bx:hover {
    box-shadow: 7px 10px 25px rgba(0,0,0,0.2);
    transform: translateY(-8px);
}
.contact .container .box .bx img {
    margin-top: 0;
    position: relative;
    z-index: 2;
    width: 80px;
    height: auto;
}
.contact .container .box .bx h2 {
    font-size: 18px;
    font-family: var(--Rubik);
    margin-top: 50px;
}
.contact .container .box .bx p {
    margin-top: 10px;
    font-size: 14px;
}
/* ================Contact Section Style=============== */

.apps {
    display: flex;
    justify-content: center;
    align-items: center;
}
.apps img {
    width: 200px;
    margin-top: 160px;
    margin-right: 30px;
    margin-bottom: 60px;
    cursor: pointer;
}